{% extends "bootstrap_5_layout.html" %}
{% set active_page = "map" %}

{% block content %}
<div class="container my-4">
  <h1 class="text-center mb-4">Flavor and Campaign Gallery</h1>
  <p class="text-center mb-4">Get a glimpse into some of our current campaigns and some special, never released products</p>
  <h2>Sports</h2>
  <div class="row g-4">
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/vZQKBrpx/Gemini-Generated-Image-1141kk1141kk1141.jpg" class="card-img-top" alt="Image 1">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/TPsNCZhn/Gemini-Generated-Image-dqxqypdqxqypdqxq.jpg" class="card-img-top" alt="Image 3">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/zBRtM0R6/Gemini-Generated-Image-q01uf8q01uf8q01u.jpg" class="card-img-top" alt="Image 6">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/ZqnDPTYT/Gemini-Generated-Image-fjrz5gfjrz5gfjrz.jpg" class="card-img-top" alt="Image 4">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/7h8sy036/Gemini-Generated-Image-vlzd3lvlzd3lvlzd.jpg" class="card-img-top" alt="Image 7">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/wT5Pgfbd/Gemini-Generated-Image-3oeprx3oeprx3oep.jpg" class="card-img-top" alt="Image 2">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/W4Z0cKXG/Gemini-Generated-Image-12aksd12aksd12ak.jpg" class="card-img-top" alt="Image 9">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/6qrH6qch/Gemini-Generated-Image-yu7j9tyu7j9tyu7j.jpg" class="card-img-top" alt="Image 8">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/kGLnCjjS/Gemini-Generated-Image-wbnjs4wbnjs4wbnj.jpg" class="card-img-top" alt="UFC">
      </div>
    </div>
    <h2>Holiday</h2>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/3xncDyTS/Gemini-Generated-Image-n82qjsn82qjsn82q.jpg" class="card-img-top" alt="Image 5">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/rm3myFsz/Gemini-Generated-Image-fgf62fgf62fgf62f.jpg" class="card-img-top" alt="Image 5">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="https://i.postimg.cc/63yqNG9D/Gemini-Generated-Image-yzz8x5yzz8x5yzz8.jpg" class="card-img-top" alt="Image 5">
      </div>
    </div>
  </div>
</div>
{% endblock %}