{% extends "bootstrap_5_layout.html" %}
{% set active_page = "garden" %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/MKbWNY7n/DALL-E-2024-12-16-02-43-10-A-vibrant-pop-up-beer-garden-event-with-a-balanced-crowd-of-men-and-wom.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/8CsNFQqv/DALL-E-2024-12-16-02-43-12-A-vibrant-pop-up-beer-garden-event-with-a-balanced-crowd-of-men-and-wom.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/YCrpHmRb/Gemini-Generated-Image-kin3azkin3azkin3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/kgT7XXh9/Gemini-Generated-Image-qam6bgqam6bgqam6.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}