{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

  <img src="https://cdn.shopify.com/s/files/1/0388/3771/4989/files/BUD_LIGHT_LOGO.png?v=1653483844" alt="Map of Smiski World" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
  <div class="d-flex justify-content-center" style="margin-top: 2em;">
    <a href="/explore" class="btn btn-primary btn-lg mx-2" role="button">
      Explore New Flavors
    </a>
    <a href="/garden" class="btn btn-primary btn-lg mx-2" role="button">
      Visit the Pop-Up
    </a>
  </div>


    <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
  
    </div>

{% endblock %}