{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-top: 2em;">
  <a href="/explore" class="btn btn-primary btn-lg mx-2" role="button">
    Explore New Flavors
  </a>
  <a href="/garden" class="btn btn-primary btn-lg mx-2" role="button">
    Visit the Pop-Up
  </a>
</div><br>
<img src="https://i.postimg.cc/Kv9W1kF9/A-Very-Bud-Light-Christmas.jpg" alt="Map of Smiski World" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">


    <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
  
    </div>

{% endblock %}